@model List<AkademiQPortfolio.Entities.Skill>
<section id="section3">
	<div class="container">
		<h2>Yetenek Değerleri</h2>
		<div class="row">
			<div class="col-sm-12">
				<h4>Teknik Yetenekler</h4>
                @foreach (var item in Model)
                {
                    <label class="progress-bar-label">@item.SkillTitle</label>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="@item.SkillValue" aria-valuemin="0" aria-valuemax="100" style="width: @item.SkillValue%;">
                            <span>@item.SkillValue%</span>
                        </div>
                    </div>
                }
			</div>
		</div>
	</div>
</section>