<section id="section1" class="no-padding-bottom active">
	<div class="container">
		<div class="row">
			<div class="col-sm-7 vertical-center padding-fix">
				<h1>Tasarım<sup>+</sup> Geliştirme<sup>+</sup> Mobil Programlama<sup>+</sup> Veri Analitiği<sup>+</sup></h1>
				<p>Merhaba ben Yiğit, yaklaşık iki yıllık yazılım deneyimimle sektöre katkı sağlamaktayım</p>
				<p class="button-row"><a href="" class="button solid-button white">Bana Ulaşın</a><a href="" class="button solid-button purple">Cv'mi indir</a></p>
			</div> <!-- end .col-sm-7 -->
			<div class="col-sm-5 vertical-center">
				<img src="images/man01.png" alt="man" class="img-responsive section-img">
			</div> <!-- end .col-sm-5 -->
		</div> <!-- end .row -->
	</div> <!-- end .container -->
</section> <!-- end #section1 -->