<section id="section1" class="no-padding-bottom active">
	<div class="container">
		<div class="row">
			<div class="col-sm-7 vertical-center padding-fix">
				<h1>Backend Developer<sup>+</sup></h1>
				<p>
IT sektöründe Backend Geliştirici olarak C# .NET Core ağırlıklı olmak üzere 1 yıldan uzun süredir katkı sağlamaktayım. İlk iş deneyimi olarak çalıştığım şirkette müşterimize özel POS/Restoran Yönetim projesinde Backend geliştirici olarak görev aldım, gerçek bir projenin nasıl işlediğini mentörüm ve projenin yöneticisi Abdusselam Kösecik yardımıyla anlamış oldum. Postman üzerinden API performans ve güvenlik testleri gerçekleştirdim. Acunmedya Akademi’de tam burslu olarak kazandığım eğitim kapsamında Backend bilgilerimi güçlendirdim. Python ve C# ile çeşitli projeler üzerinde çalışarak hem düşünme biçimimi hem de sorun çözme alışkanlığımı geliştirdim. IT sektörüne ilk adımımı aslında Python ile attım ve bu süreçte çeşitli eğitimlerle yapay zeka alanındaki becerilerimi geliştirdim. Girişimci ruhumla faydalı fikirler geliştiriyorum ve gönüllü projelere katkı sağlıyorum.				</p>
				<p class="button-row">
					<a href="#section8" class="button solid-button white">Bana Ula??n</a>
					<a href="/sility/files/Resume.pdf" download="Resume.pdf" class="button solid-button purple">CV'mi indirin</a>
				</p>
			</div> <!-- end .col-sm-7 -->
			<div class="col-sm-5 vertical-center">
				<img src="/sility/images/Icon.png" alt="man" class="img-responsive section-img hero-image">
			</div> <!-- end .col-sm-5 -->
		</div> <!-- end .row -->
	</div> <!-- end .container -->
</section>
<style>
	
	.hero-image {
		max-width: 130% !important;
		width: 130% !important;
		height: auto !important;
		margin-left: -10%;
		position: relative;
		z-index: 50;
	}
	
	#section1 {
		overflow-x: hidden;
	}

		#section1 .col-sm-5 {
			position: relative;s
		}
</style>


