@model List<Work>

<section id="section6">
    <div class="container">
        <h2>Projelerim</h2>
        <div class="portfolio-wrapper">
            <div id="portfolio-filters" class="portfolio-filters">
                <button class="button solid-button white-purple small" data-filter=".Web">Web Uygulamas</button>
                <button class="button solid-button white-purple small" data-filter=".Mobil">Todolist uygulaması</button>
                <button class="button solid-button white-purple small" data-filter=".Web">E-Kitap web sitesi</button>
            </div>

            <div id="portfolio" class="portfolio">
                @if (Model != null && Model.Count > 0)
                {
                    foreach (var item in Model)
                    {
                        <div class="item @item.SubTitle">
                            <img src=@item.ImageUrl alt="alt text" class="img-responsive">
                            <a href="#" class="overlay">
                                <div class="background"></div>
                                <div class="meta">
                                    <span class="title">@item.Title</span>
                                    <span class="category">@item.SubTitle</span>
                                </div>
                            </a>
                        </div>
                    }
                }
                else
                {
                    @* E?er liste bo?sa bu yaz? g?r?necek *@
                    <p style="text-align:center; padding:20px; color:gray;">Henüz görüntülenecek bir proje bulunamadı.</p>
                }
            </div>

            <div class="portfolio-load-more">
                <a href="#" class="button solid-button white icon-right">Proje Ekleyin<i class="md-refresh"></i></a>
            </div>
        </div>
    </div>
</section>

