<footer class="footer">
	<div class="top">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<h4>Address</h4>
					<p>123 Sility, South Corner Street,<br />Melbornem Australia.</p>
				</div> <!-- end .col-sm-4 -->
				<div class="col-sm-4">
					<h4>Connect</h4>
					<div class="social-icons">
						<a href="" class="social-icon"><i class="fa fa-facebook"></i></a>
						<a href="" class="social-icon"><i class="fa fa-twitter"></i></a>
						<a href="" class="social-icon"><i class="fa fa-google-plus"></i></a>
						<a href="" class="social-icon"><i class="fa fa-behance"></i></a>
						<a href="" class="social-icon"><i class="fa fa-dribbble"></i></a>
					</div> <!-- end .social-icons -->
				</div> <!-- end .col-sm-4 -->
				<div class="col-sm-4">
					<h4>Contact</h4>
					<p>Tel: +61 123-456-7890<br />Mail: Sility@example.com</p>
				</div> <!-- end .col-sm-4 -->
			</div> <!-- end .row -->
		</div> <!-- end .container -->
	</div> <!-- end .footer -->
	<div class="bottom">Bütün Hakları Saklıdır</div> <!-- end .bottom -->
</footer> <!-- end .footer -->
